body {
/* IE10+ */ 
/* IE10+ */ 
background-image: -ms-linear-gradient(left, #ffffff -100%, #B8BBFC 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #ffffff -100%, #B8BBFC 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #ffffff -100%, #B8BBFC 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(-100, #ffffff), color-stop(100, #B8BBFC));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #ffffff -100%, #B8BBFC 100%);

/* W3C Markup */ 
background-image: linear-gradient(to right, #ffffff -100%, #B8BBFC 100%);
	font-family: 'Arvo', serif;
	font-size: 20px;
}

.container{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cont-flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

img{
	padding: 10px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 95%;
    height: auto;
    border-radius: 20px;
    margin-top: 25px;
}

.temp {
	font-size: 50px;
	color: #3496FA;
}

.description {
	font-size: 19px;
	color: #3496FA;
}

h2 {
	margin-top: 25px;
	font-size: 30px;
}

h1 {
	margin-bottom: 45px;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Abril Fatface', cursive;
}

a {
	color: black;
	padding-left: 8px;
}
a:hover{
	color: #3496FA;
	text-decoration: none;
	cursor: pointer;
}

p {
	font-size: 22px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


    p {
    	font-size: 48px;
	}

	h2{
		font-size: 55px;
	}
	h1{
		font-size: 60px;
		font-weight: bold;
		font-family: 'Abril Fatface', cursive;
	}

	a{
		font-size: 43px;
	}

	.description {
    	font-size: 30px;
	}
}